/Hamster$ArrayListIntern.class
/Hamster.class
/HamsterException.class
/HamsterInitialisierungsException.class
/HamsterNichtInitialisiertException.class
/KachelLeerException.class
/MauerDaException.class
/MaulLeerException.class
/Territorium.class
